/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
bumpfile/
.env
.env.backup
.env.dusk
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
Session.vim
/stat.sh
sql/now.sql
/storage/*.json
